<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NDKCircuitTemplate - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NDKCircuitTemplate - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NDKCircuitTemplate - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NDKCircuitTemplate - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NDKCircuitTemplate - VST3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D412611BC3CDD7143D9082B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344CE1859F98565BAFD0BCC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FEC7C217B03C00BC9CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B7E139E7D744D80AAF0ADD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97E7DC61FE52CD7ACEC83427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
